@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
  --background: #FAF8F2;
  --border-color: #1A1B19;
  --text: #1A1B19;
  --border: 1.5px solid var(--border-color);
  --gray: #A7A7A7;
  --primary-color: #387DFD;
  --primary-gradient: linear-gradient(180deg, #0051E7 0%, #387DFD 100%);
  --primary-color-dark: #008cff;
  --primary-color-light: #1e9aff;
  // --secondary-color: #FBB402;
  --secondary-color: #FFD339;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body{
  background: var(--background);
  color: var(--text);
}
.book-widget,
.book-order{
  background: #f4f5fa;
  min-height: 100vh;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: var(--text);
  *{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
  }
  input,select,option{
    &:active,
    &:focus{
      outline: none;
    }
  }
  a{
    text-decoration: none;
    color: inherit;
  }
}

.book-widget{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 50px;
  color: #28293d;
  &__content{
    box-shadow: 0 0 30px -10px #00000050;
    border-radius: 15px;
    padding: 30px;
    max-width: 550px;
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 300ms ease;
  }
  &__title{
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 20px;
    font-weight: 500;
  }
  &__switcher{
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px;
    background: #fafafc;
    border-radius: 6px;
    padding: 6px;
    width: 100%;
    &-button{
      padding: 8px;
      flex-basis: calc(50% - 3px);
      font-size: 14px;
      color: #8f90a6;
      text-align: center;
      cursor: pointer;
      border: none;
      background: none;
      transition: 500ms ease;
      &:not(.book-widget__switcher-button_active):hover{
        color: #7e7e87;
      }
      &_active{
        background: white;
        box-shadow: 0 0 1px rgba(40,41,61,0.04), 0 2px 4px rgba(96,97,112,0.16);
        border-radius: 4px;
        color: var(--primary-color);
        &:hover{
          color: var(--primary-color-dark);
        }
        &:active{
          box-shadow: 0 0 0px rgba(40,41,61,0.04), 0 1px 1px rgba(96,97,112,0.16);
        }
      }
    }
  }
  &__type{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    // margin-bottom: 15px;
  }
  &__checkbox{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &-input{
      position: relative;
      width: 46px;
      height: 24px;
      cursor: pointer;
      input{
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: relative;
        z-index: 1;
        opacity: 0;
        &:hover:checked{
          &~.book-widget__checkbox-overlay{
            background: var(--primary-color-dark);
            border-color: var(--primary-color-dark);
          }
        }
        &:checked{
          &~.book-widget__checkbox-overlay{
            background: var(--primary-color);
            border: 1px solid var(--primary-color);
            div{  
              transform: translateX(21px) translateY(-50%);
            }
          }
        }
      }
    }
    &-overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      border-radius: 100px;
      padding: 1px;
      transition: 300ms ease;
      background: #ebebf0;
      border: 1px solid #e4e4eb;
      div{
        position: absolute;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        top: 50%;
        will-change: transform;
        left: 2px;
        transition: 300ms ease;
        transform: translateY(-50%);
        background: #fff;
      }
    }
    &-label{
      margin-left: 10px;
      font-size: 16px;
      user-select: none;
      cursor: pointer;
    }
  }
  &__location{
    position: relative;
    background: #fafafc;
    border-radius: 6px;
    padding: 12px 16px;
    &-btn{
      position: absolute;
      right: 15px;
      top: calc(50% - 10px);
      cursor: pointer;
      border: none;
      background: none;
      transition: 300ms ease;
    }
    &-solo{
      background: #fafafc;
      padding: 0px 16px;
      height: 46px;
      .book-widget__location-wrapper{
        margin-right: 0;
        &:first-of-type{
          input{
            border-bottom: none;
          }
        }
      }
    }
    &-wrapper{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0 45px 0 0;
      height: 100%;
      &:first-of-type{
        input{
          border-bottom: 1px solid #e2e8f0;
        }
      }
      input{
        margin-left: 10px;
        width: 100%;
        background: none;
        border: none;
        padding: 12px 0;
      }
      select{
        margin-left: 10px;
        width: 100%;
        background: none;
        border: none;
        padding: 12px 0;
      }
    }
  }
  &__date{
    display: flex;
    justify-content: space-between;
    input{
      flex-basis: calc(50% - 7.5px);
      border: none;
      background: #fafafc;
      height: 46px;
      border-radius: 6px;
      padding: 15px;
    }
  }
  &__next{
    background: var(--primary-color);
    border: none;
    cursor: pointer;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin-top: 15px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    transition: 300ms ease;
    &:hover{
      background: var(--primary-color-dark);
    }
    &:active{
      background: var(--primary-color-light);
    }
  }
}

.book-order{
  padding: 24px 0px;
  background: var(--background);
  &__container{
    width: 100%;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
  }
  &__rating{
    background: #fff;
    box-shadow: 0 0 30px -10px #00000050;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    &-title{
      font-size: 18px;
      line-height: 120%;
      margin-bottom: 8px;
    }
    &-desc{
      font-size: 14px;
    }
    &-row{
      display: flex;
      justify-content: space-between;
      padding-left: 50px;
      flex-grow: 1;
    }
    &-col{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-img{
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;
      img{
        max-width: 100%;
      }
    }
    &-score{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1px;
      span{
        margin-right: 4px;
        font-size: 14px;
      }
    }
  }
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
  &__left{
    flex-basis: calc(50% - 12px);
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__cars{
    width: 100%;
    color: var(--text);
    background: var(--background);
    // box-shadow: 0 0 30px -10px #00000050;
    border: var(--border);
    border-radius: 15px;
    padding: 30px;
    &-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    &-title{
      font-size: 22px;
      line-height: 120%;
      margin-bottom: 20px;
    }
    &-edit{
      line-height: 0;
      width: 20px;
      height: 20px;
      border: none;
      background: none;
      cursor: pointer;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  &__info{
    flex-basis: calc(50% - 12px);
    max-width: calc(50% - 12px);
    background: var(--background);
    color: var(--text);
    border: var(--border);
    // box-shadow: 0 0 30px -10px #00000050;
    border-radius: 15px;
    padding: 30px;
    position: sticky;
    top: 24px;    
    &-title{
      font-size: 22px;
      line-height: 120%;
    }
    &-img{
      max-width: 100%;
      border: var(--border);
      border-radius: 15px;
      overflow: hidden;
      margin-bottom: 20px;
      line-height: 0;
      img{
        width: 100%;
      }
    }
    &-date{
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 20px;
    }
    &-location{
      position: relative;
      margin-bottom: 20px;
      span{
        position: absolute;
        height: calc(100% - 10px);
        top: 5px;
        left: 7px;
        width: 2px;
        background: var(--secondary-color);
        display: block;
      }
      div{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        &~div{
          margin-top: 8px;
        }
        &::before{
          content: '';
          width: 12px;
          height: 12px;
          border: 2px solid var(--secondary-color);
          background: var(--background);
          border-radius: 50%;
          z-index: 1;
        }
      }
    }
    button.book-order__info-car{
      cursor: pointer;
    }
    &-car{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border: none;
      background: none;
      &_active{
        .book-order__info-car-left{
          span{
            svg{
              transform: scaleY(-1);
            }
          }
        }
      }
      &+.book-order__info-car-wrap{
        margin-top: 18px;
      }
      &+.book-order__info-car{
        margin-top: 18px;
      }
      &-left{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        span{
          font-weight: 400;
          font-size: 16px;
          color: var(--text);
          line-height: 120%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 4px;
          svg{
            transition: 300ms ease;
          }
        }
        &>svg{
          width: 25px;
          height: 25px;
          margin-right: 8px;
        }
      }
      &-content{
        padding-top: 20px;
      }
      &-subchild{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 33px;
        &+.book-order__info-car-subchild{
          margin-top: 8px;
        }
        span{
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: var(--gray);
        }
      }
      &-price{
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
        color: var(--primary-color);
      }
    }
    &-suit{
      background: var(--text);
      border-radius: 4px;
      padding: 6px 12px;
      color: var(--background);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-left: 12px;
      &-item{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        svg{
          width: 15px;
          height: 15px;
        }
      }
    }
    &-total{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: var(--border);
      margin-top: 25px;
      padding-top: 25px;
      span{
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: var(--text);
        &+span{
          color: var(--primary-color);
        }
      }
    }
  }
  &__rec{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 30px;
    background: var(--secondary-color);
    border: var(--border);
    border-radius: 15px;
    gap: 8px;
    color: var(--text);
  }
}


.book-action{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  &__item{
    border: var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: calc(50% - 12px);
    border-radius: 8px;
    padding: 10px;
    &-left{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      svg{
        margin-right: 6px;
        width: 24px;
        height: 24px;
      }
    }
    span{
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
    }
  }
  &__counter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--border-color);
    gap: 7px;
    padding: 0 6px;
    border-radius: 36px;
    height: 30px;
    border: none;
    min-width: 75px;
    span{
      color: var(--background);
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
    }
    &-decrement{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--background);
      border: none;
      cursor: pointer;
      svg{
        width: 10px;
        height: 10px;
      }
    }
    &-increment{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--secondary-color);
      border: none;
      cursor: pointer;
      svg{
        width: 10px;
        height: 10px;
      }
    }
  }
}


.book-header{
  margin-bottom: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  &__button{
    background: var(--primary-gradient);
    border-radius: 15px;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
  }
  &__dropdown{
    img{
      line-height: 0;
    }
    &-btn{
      // width: 140px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px 6px 10px 14px;
      cursor: pointer;
      border: none;
      background: var(--background);
      border: var(--border);
      border-radius: 15px;
      font-weight: 400;
      font-size: 14px;  
      line-height: 18px;
      span{
        margin-right: 8px;
      }
      img{
        margin-right: 10px;
      }
      svg{
        margin-left: auto;
      }
    }
    &-content{
      flex-direction: column;
      display: none;
    }
    &-item{
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

.book-car{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: var(--border);
  background: none;
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
  transition: 300ms ease;
  &_active{
    background: var(--secondary-color);
    .book-car__desc{
      color: var(--text);
    }
  }
  &_unactive{
    opacity: 0.5;
    cursor: auto;
    pointer-events: none;
    user-select: none;
  }
  &+.book-car{
    margin-top: 15px;
  }
  &__img{
    line-height: 0;
  }
  &__content{
    width: 100%;
    padding-left: 20px;
  }
  &__title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
    span{
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      // color: var(--primary-color);
      &+span{
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        // color: var(--text);
      }
    }
  }
  &__desc{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--gray);
    text-align: left;
    margin-bottom: 4px;
  }
  &__bot{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
  }
  &__item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--text);
    svg{
      width: 17px;
      height: 17px;
      fill: var(--text);
    }
  }
  &__type{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #FAF8F2;
    padding: 4px 10px;
    background: var(--border-color);
    border-radius: 4px;
  }
}

@media (min-width: 576px) {
  .book-order__container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .book-order__container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .book-order__container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .book-order__container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .book-order__container {
    max-width: 1320px;
  }
}