@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
  --primary-color: #4dadfb;
  --primary-color-dark: #008cff;
  --primary-color-light: #1e9aff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body{
  background: #f4f5fa;
}
.book-widget,
.book-order{
  background: #f4f5fa;
  min-height: 100vh;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  *{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
  }
  input,select,option{
    &:active,
    &:focus{
      outline: none;
    }
  }
  a{
    text-decoration: none;
    color: inherit;
  }
}

.book-widget{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 50px;
  color: #28293d;
  &__content{
    box-shadow: 0 0 30px -10px #00000050;
    border-radius: 15px;
    padding: 30px;
    max-width: 550px;
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 300ms ease;
  }
  &__title{
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 20px;
    font-weight: 500;
  }
  &__switcher{
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px;
    background: #fafafc;
    border-radius: 6px;
    padding: 6px;
    width: 100%;
    &-button{
      padding: 8px;
      flex-basis: calc(50% - 3px);
      font-size: 14px;
      color: #8f90a6;
      text-align: center;
      cursor: pointer;
      border: none;
      background: none;
      transition: 500ms ease;
      &:not(.book-widget__switcher-button_active):hover{
        color: #7e7e87;
      }
      &_active{
        background: white;
        box-shadow: 0 0 1px rgba(40,41,61,0.04), 0 2px 4px rgba(96,97,112,0.16);
        border-radius: 4px;
        color: var(--primary-color);
        &:hover{
          color: var(--primary-color-dark);
        }
        &:active{
          box-shadow: 0 0 0px rgba(40,41,61,0.04), 0 1px 1px rgba(96,97,112,0.16);
        }
      }
    }
  }
  &__type{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    // margin-bottom: 15px;
  }
  &__checkbox{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &-input{
      position: relative;
      width: 46px;
      height: 24px;
      cursor: pointer;
      input{
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: relative;
        z-index: 1;
        opacity: 0;
        &:hover:checked{
          &~.book-widget__checkbox-overlay{
            background: var(--primary-color-dark);
            border-color: var(--primary-color-dark);
          }
        }
        &:checked{
          &~.book-widget__checkbox-overlay{
            background: var(--primary-color);
            border: 1px solid var(--primary-color);
            div{  
              transform: translateX(21px) translateY(-50%);
            }
          }
        }
      }
    }
    &-overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      border-radius: 100px;
      padding: 1px;
      transition: 300ms ease;
      background: #ebebf0;
      border: 1px solid #e4e4eb;
      div{
        position: absolute;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        top: 50%;
        will-change: transform;
        left: 2px;
        transition: 300ms ease;
        transform: translateY(-50%);
        background: #fff;
      }
    }
    &-label{
      margin-left: 10px;
      font-size: 16px;
      user-select: none;
      cursor: pointer;
    }
  }
  &__location{
    position: relative;
    background: #fafafc;
    border-radius: 6px;
    padding: 12px 16px;
    &-btn{
      position: absolute;
      right: 15px;
      top: calc(50% - 10px);
      cursor: pointer;
      border: none;
      background: none;
      transition: 300ms ease;
    }
    &-solo{
      background: #fafafc;
      padding: 0px 16px;
      height: 46px;
      .book-widget__location-wrapper{
        margin-right: 0;
        &:first-of-type{
          input{
            border-bottom: none;
          }
        }
      }
    }
    &-wrapper{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0 45px 0 0;
      height: 100%;
      &:first-of-type{
        input{
          border-bottom: 1px solid #e2e8f0;
        }
      }
      input{
        margin-left: 10px;
        width: 100%;
        background: none;
        border: none;
        padding: 12px 0;
      }
      select{
        margin-left: 10px;
        width: 100%;
        background: none;
        border: none;
        padding: 12px 0;
      }
    }
  }
  &__date{
    display: flex;
    justify-content: space-between;
    input{
      flex-basis: calc(50% - 7.5px);
      border: none;
      background: #fafafc;
      height: 46px;
      border-radius: 6px;
      padding: 15px;
    }
  }
  &__next{
    background: var(--primary-color);
    border: none;
    cursor: pointer;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin-top: 15px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    transition: 300ms ease;
    &:hover{
      background: var(--primary-color-dark);
    }
    &:active{
      background: var(--primary-color-light);
    }
  }
}

.book-order{
  padding: 50px 0px;
  &__container{
    max-width: 950px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
  }
  &__rating{
    background: #fff;
    box-shadow: 0 0 30px -10px #00000050;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    &-title{
      font-size: 18px;
      line-height: 120%;
      margin-bottom: 8px;
    }
    &-desc{
      font-size: 14px;
    }
    &-row{
      display: flex;
      justify-content: space-between;
      padding-left: 50px;
      flex-grow: 1;
    }
    &-col{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-img{
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;
      img{
        max-width: 100%;
      }
    }
    &-score{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1px;
      span{
        margin-right: 4px;
        font-size: 14px;
      }
    }
  }
  &__wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__cars{
    flex-basis: calc(50% - 12px);
    background: #fff;
    box-shadow: 0 0 30px -10px #00000050;
    border-radius: 15px;
    padding: 30px;
    &-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-edit{
      line-height: 0;
      width: 20px;
      height: 20px;
      border: none;
      background: none;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  &__info{
    flex-basis: calc(50% - 12px);
    background: #fff;
    box-shadow: 0 0 30px -10px #00000050;
    border-radius: 15px;
    padding: 30px;
  }
}